:root {
    /* light theme */
    --text-color: #000000;
    --bg-color: #ffffff;
    --title-color: #4444a1;
    --part-color: #fdfdfd8f;
    --button-border: #0000002f;
    --box-shadow: #00000028;
}

*{
    max-width: 100%;
    overflow-x: hidden;
}

html body {
  

    margin: 0;
    padding: 0;
    padding-top: 51px;

    font-family: "DM Sans", sans-serif;
    font-size: 15px;

    background-color: var(--bg-color);
    color: var(--text-color);


    background-image: radial-gradient(circle at 46% 40%, rgba(228, 228, 228, 0.06) 0%, rgba(228, 228, 228, 0.06) 13%, transparent 13%, transparent 100%), radial-gradient(circle at 11% 41%, rgba(198, 198, 198, 0.06) 0%, rgba(198, 198, 198, 0.06) 19%, transparent 19%, transparent 100%), radial-gradient(circle at 52% 23%, rgba(14, 14, 14, 0.06) 0%, rgba(14, 14, 14, 0.06) 69%, transparent 69%, transparent 100%), radial-gradient(circle at 13% 85%, rgba(148, 148, 148, 0.06) 0%, rgba(148, 148, 148, 0.06) 44%, transparent 44%, transparent 100%), radial-gradient(circle at 57% 74%, rgba(232, 232, 232, 0.06) 0%, rgba(232, 232, 232, 0.06) 21%, transparent 21%, transparent 100%), radial-gradient(circle at 59% 54%, rgba(39, 39, 39, 0.06) 0%, rgba(39, 39, 39, 0.06) 49%, transparent 49%, transparent 100%), radial-gradient(circle at 98% 38%, rgba(157, 157, 157, 0.06) 0%, rgba(157, 157, 157, 0.06) 24%, transparent 24%, transparent 100%), radial-gradient(circle at 8% 6%, rgba(60, 60, 60, 0.06) 0%, rgba(60, 60, 60, 0.06) 12%, transparent 12%, transparent 100%), linear-gradient(90deg, rgb(252, 252, 252), rgb(252, 252, 252));
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

/* NAVIGATION BAR ** NAVIGATION BAR ** NAVIGATION BAR ** NAVIGATION BAR */

nav {
    margin: 0;
    padding: 0;

    background-color: var(--bg-color);
    border-bottom: solid 1px rgba(0, 0, 0, 0.103);

    z-index: 2;
}

nav>ul {
    display: flex;
    flex-direction: row;
    justify-content: center;

    width: 100%;
    padding-left: 0;
    margin-left: 0;
    margin: 15px;

    list-style-type: none;
}

nav>ul>li {
    padding-inline: 24px;
}

nav>ul>li>a {
    display: inline-block;
    position: relative;
    text-decoration: none;

    color: var(--text-color);
}

nav>ul>li>a:hover {
    color: rgb(68, 68, 161);
    transform: scale(1.1);
    transition: all 0.4s;
}

/* STICKY ANIMATIONS */

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

/* UNDERLINE ANIMATIONS */
nav>ul>li>a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    border-radius: 5px;
    height: 0.05em;
    bottom: 0;
    left: 0;
    background: currentcolor;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

nav>ul>li>a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

/* DISPLAY ANIMATIONS */

.tracking-in-expand {
    -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

@-webkit-keyframes tracking-in-expand {
    0% {
        letter-spacing: -0.5em;
        opacity: 0;
    }

    40% {
        opacity: 0.6;
    }

    100% {
        opacity: 1;
    }
}

@keyframes tracking-in-expand {
    0% {
        letter-spacing: -0.5em;
        opacity: 0;
    }

    40% {
        opacity: 0.6;
    }

    100% {
        opacity: 1;
    }
}

/* MENU BURGER */
@media only screen and (min-width:969px) {
    .burgerIcon {
        display: none;
    }
}

@media only screen and (max-width:968px) {
    #myMenu {
        display: none;
    }

    .burgerIcon {
        display: block;
        position: relative;
        float: right;
        z-index: 1;
    }
}

/* MAIN  STRUCTURE** MAIN  STRUCTURE** MAIN  STRUCTURE** MAIN  STRUCTURE*/

.part {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: auto;
    margin-inline: 13%;
    margin-block: 1%;
    padding: 2%;

    border-radius: 3px;
    background-color: var(--part-color);

}

.flexContent {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;

    margin: 2%;
    width: 100%;
}

.picture {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
}

.texte {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    width: 100%;
}

.icon {
    height: 300px;
    width: 300px;
}

/* DISPLAY BOX (.part) ANIMATION*/

.slide-in-elliptic-top-fwd {
    -webkit-animation: slide-in-elliptic-top-fwd 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-in-elliptic-top-fwd 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-in-elliptic-top-fwd {
    0% {
        -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
        transform: translateY(-600px) rotateX(-30deg) scale(0);
        -webkit-transform-origin: 50% 100%;
        transform-origin: 50% 100%;
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0) rotateX(0) scale(1);
        transform: translateY(0) rotateX(0) scale(1);
        -webkit-transform-origin: 50% 1400px;
        transform-origin: 50% 1400px;
        opacity: 1;
    }
}

@keyframes slide-in-elliptic-top-fwd {
    0% {
        -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
        transform: translateY(-600px) rotateX(-30deg) scale(0);
        -webkit-transform-origin: 50% 100%;
        transform-origin: 50% 100%;
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0) rotateX(0) scale(1);
        transform: translateY(0) rotateX(0) scale(1);
        -webkit-transform-origin: 50% 1400px;
        transform-origin: 50% 1400px;
        opacity: 1;
    }
}

/* MAIN  TEXTE** MAIN  TEXTE** MAIN  TEXTE** MAIN  TEXTE*/

h1 {
    margin: 1%;
    text-align: center;

    color: var(--title-color);
    z-index: 1;
}

h2 {
    text-align: center;
}

p {
    margin: 5px;
    text-align: center;
}

hr {
    width: 55%;
}

a{
    /* text-decoration: none; */
    color:    var(--text-color);
}

button{
    font-family: "DM Sans", sans-serif;
    font-size: 15px;
    color: var(--text-color);
    background-color: var(--bg-color);
    border: solid 1px var(--button-border);
    border-radius: 5px;
    cursor: pointer;
    margin: ;
}

#contact>hr {
    width: 15%;
    transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
}

.part>#contact>.picture>a,
.part>#contact>.texte>a {
    margin: 1%;
    padding: 1%;
    border: solid 1px var(--button-border);
    border-radius: 10px;

    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-around;

    text-decoration: none;
    color: var(--text-color);
    font-size: 27px;
}

/* DISPLAY TITLE 1 (h1) ANIMATION  */

.text-focus-in {
    -webkit-animation: text-focus-in 0.8s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    animation: text-focus-in 0.8s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

@-webkit-keyframes text-focus-in {
    0% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }

    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}

@keyframes text-focus-in {
    0% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }

    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}

/* CV BUTTON */

#curiculum {
    background-image: linear-gradient(to right, #00b2da 0%, #3a7bd5 51%, #00b2da 100%);
    margin: 2%;
    padding: 2% 5%;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    text-decoration: none;
    color: white;
    border-radius: 4px;
    display: block;
}

#curiculum:hover {
    background-position: right center;
}

/* CARDS */

.projectCards {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.projectCard {
    width: 33%;
    margin: 2%;

    border-radius: 3px;
    box-shadow: 0 0 3px 1px var(--box-shadow);

    text-align: center;
    list-style: none;
}

.projectCard>h2 {
    height: 125px;
    padding-inline: 10px;
}

/* MAIN CONTACT ICONS ANIMATION** MAIN CONTACT ICONS ANIMATION** MAIN CONTACT ICONS ANIMATION*/

.heartbeat:hover {
    -webkit-animation: heartbeat 1.2s ease-in-out infinite both;
    animation: heartbeat 1.2s ease-in-out infinite both;
}

@-webkit-keyframes heartbeat {
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: center center;
        transform-origin: center center;
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    10% {
        -webkit-transform: scale(0.91);
        transform: scale(0.91);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    17% {
        -webkit-transform: scale(0.98);
        transform: scale(0.98);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    33% {
        -webkit-transform: scale(0.87);
        transform: scale(0.87);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    45% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
}

@keyframes heartbeat {
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: center center;
        transform-origin: center center;
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    10% {
        -webkit-transform: scale(0.91);
        transform: scale(0.91);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    17% {
        -webkit-transform: scale(0.98);
        transform: scale(0.98);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    33% {
        -webkit-transform: scale(0.87);
        transform: scale(0.87);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    45% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
}

/* RESPONSIVE */

@media only screen and (max-width:969px) {

    .part {
        margin-inline: 0;
        padding: 1%;
    }

    .flexContent {
        flex-direction: column;
    }

    .icon {
        margin-bottom: 3%;
        height: 250px;
        width: 250px;
    }

    nav>ul {
        margin: 0;
        margin-top: 46px;
        text-align: center;
    }

    p {
        margin-inline: 4%;
    }

    .projectCard>h2 {
        height: 80px;
        overflow-y: hidden;
    }

    .projectCards {
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;

    }

    .projectCard {
        width: 96%;
    }

    .projectCard>ul{
        padding: 0;
        list-style: none;
    }

    #contact>hr {
        display: none;
    }

    .part>#contact>.picture>a,
    .part>#contact>.texte>a {

        justify-content: space-evenly;

        margin-inline: 0;
        margin-block: 1%;
        padding-block: 1%;
        padding-inline: 3%;

        width: 280px;
        max-width: 90%;

        font-size: 22px;
    }

    .contactIcon {
        height: 75px;
        width: 75px;
    }

    /* ORDERS */

    #project>.flexContent>.picture {
        order: 1;
    }

    #project>.flexContent>.texte {
        order: 2;
    }

    #contact>.picture {
        order: 1;
    }

    #contact>.texte {
        order: 2;
    }
    
    #contact>.picture>a>p {
        order: 2;
    }

    #contact>.picture>a>img {
        order: 1;
    }

}

.dark-mode {
    /* Couleurs du thème sombre */
    --text-color: #ffffff;
    --bg-color: #000000;
    --title-color: #7373d1;
    --part-color: #000000a8;
    --button-border: #fdfdfd8f;
    --box-shadow: #ffffff7e;

    background-image: radial-gradient(circle at 44% 13%, rgba(147, 147, 147, 0.05) 0%, rgba(147, 147, 147, 0.05) 98%, transparent 98%, transparent 100%), radial-gradient(circle at 87% 84%, rgba(147, 147, 147, 0.05) 0%, rgba(147, 147, 147, 0.05) 46%, transparent 46%, transparent 100%), radial-gradient(circle at 84% 60%, rgba(147, 147, 147, 0.05) 0%, rgba(147, 147, 147, 0.05) 40%, transparent 40%, transparent 100%), radial-gradient(circle at 21% 32%, rgba(147, 147, 147, 0.05) 0%, rgba(147, 147, 147, 0.05) 28%, transparent 28%, transparent 100%), radial-gradient(circle at 57% 12%, rgba(147, 147, 147, 0.05) 0%, rgba(147, 147, 147, 0.05) 34%, transparent 34%, transparent 100%), radial-gradient(circle at 33% 60%, rgba(147, 147, 147, 0.05) 0%, rgba(147, 147, 147, 0.05) 29%, transparent 29%, transparent 100%), radial-gradient(circle at 3% 11%, rgba(147, 147, 147, 0.05) 0%, rgba(147, 147, 147, 0.05) 60%, transparent 60%, transparent 100%), radial-gradient(circle at 0% 74%, rgba(147, 147, 147, 0.05) 0%, rgba(147, 147, 147, 0.05) 87%, transparent 87%, transparent 100%), linear-gradient(45deg, rgb(0, 0, 0), rgb(12, 11, 11));
}